// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import "bootstrap";

html { 
	background-image: url(natural_paper.png); 

}

body {

background-image: url(natural_paper.png);
padding: 10px;

}

h1 {
	font-weight: bolder;
	font-family: 'Montserrat Alternates', cursive;
	font-size: 72px;
	color: hsl(3, 95%, 50%);
	text-align: center;
};

h2 {

	font-family: 'Poller One', cursive;
	color: hsl(3, 95%, 50%);
	border: 1px solid black;
	margin: 10px 10px;
	padding: 10px 3px;
	text-indent: 5px;
};

p {

	font-family: 'Stint Ultra Expanded', cursive; 
	font-size: 24px;	

};

.Left {
  width: 350 px;
  border: 3px solid red;
  margin: 10px;
  padding: 5px;
  float: left;
  margin-left: 4px;

};

.Right {
  width: 350 px;
  border: 3px solid red;
  margin: 10px;
  padding: 5px;
  float: left;
  margin-left: -4px;
};

.order_button {
	margin: 0 0 0 620px;
	clear: both;
	font-weight: bold;
	font-size: 32px;
	border: 2px solid black;
	text-shadow: 3px 3px hsl(3, 95%, 100%);
	color: hsl(3, 95%, 50%);
	background: hsl(3, 95%, 100%);
	height: 150px;
	 -moz-border-radius:75px;
	 -webkit-border-radius: 75px;
	 width: 150px;
	 font-family: 'Montserrat Alternates' bold;
	};

.CustomerName {
	margin-left: 100px;

};