// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import "bootstrap";

html { 
	background-image: url(natural_paper.png); 

};

header {
	padding: 10px;
};

body {
background-image: url(natural_paper.png);
padding: 10px;
};

h1 {
	text-align: left;
	font-family: 'Duru Sans', sans-serif;
	font-size: 100px;
	color: hsl(3, 95%, 50%);
	-webkit-text-stroke-width: 2px;
   	-webkit-text-stroke-color: black;
   	border-bottom: 2px solid black;
};

h2 {

	font-family: 'Poller One', cursive;
	color: hsl(3, 95%, 50%);
	border: 1px solid black;
	margin: 10px 10px;
	padding: 10px 3px;
	text-indent: 5px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
};

p {
	font-family: 'Stint Ultra Expanded', sans-serif; 
	font-weight: bolder;
	font-size: 24px;	
	-webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
};

input[type=checkbox] {
	width: 25px;
	height: 25px;
};

.Left {
  border: 3px solid red;
  margin: 10px;
  padding: 5px;
  float: left;
  margin-left: 4px;
};

.Right {
  border: 3px solid red;
  margin: 10px;
  padding: 5px;
  float: left;
  margin-left: -4px;
};

.order_button_div {
	width:800px;
}

.order_button {
	position: relative;
	margin: 0 800px;
	font-weight: bold;
	font-size: 32px;
	border: 3px solid black;
	color: hsl(3, 95%, 50%);
	background: hsl(3, 95%, 98%);
	height: 150px;
	 -moz-border-radius:75px;
	 -webkit-border-radius: 75px;
	 width: 150px;
	 font-family: 'Montserrat Alternates' bold;
	};

.CustomerName {
	margin-left: 100px;

};
